.row{
    height: calc(100vh - 72px);
    background-color: #1d2430;
    
}
.my_btn{
  
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
  font-size: 50px;
    color: rgb(255, 255, 255);
}
.row div{
    background-color: rgb(148, 6, 141);
  
    padding: 20px;
    border-radius: 50px;
      min-height:calc((100vh - 87px)/2) ;
      border: 10px;
      margin:5px;
      width: 49%;
      display: flex;
      justify-content: center;
      align-items: center;
      
}
div a {
    text-decoration: none;
    
}
.cate{
    
}